.fa{   /*Twitter Button*/
	color: white;
	padding: 6px;
	border-radius: 10%;
	float: right;			
}

.quoteButton{/*New Quote Button*/
	color:  white;
	font-style: normal;
	padding: 7px;
	font-size: 17px;
}

.quote{		/*QuoteText*/
	font-size: 30px;
	font-style: italic;
}

.pic{		/*Picture*/
	margin: auto;
	width: 57%;
}

.setText{  /*Header amd top paragraph*/
	color: white;
}

.foot{		/*footer*/
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    left:10px;
}		