.fa{   /*Twitter Button*/
	position: absolute;
	color: white;
	padding: 6px;
	border-radius: 10%;
	bottom: 18px;
	right: 10px;			
}

.quoteButton{/*New Quote Button*/
	color:  white;
	font-style: normal;
	padding: 7px;
	font-size: 17px;
}

.quote{		/*QuoteText*/
	font-size: 30px;
	font-style: italic;
}

.setText{  /*Header amd top paragrap*/
	color: white;
}

.foot{		/*footer*/
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    left:10px;
}		