.foot{
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    left:10px;

}					


 .fa{
			color: white;
			padding: 5px;
			border-radius: 10%;
			
}

.quoteButton{
			color:  white;
			font-style: normal;
			font-family: "Times New Roman", Georgia, Serif;
			padding: 7px;
			
		}


.quote{
	font-size: 2em;
	font-style: italic;

}

.setText{
	color: white;
}
